@value makerWhite, makerGreen, makerLightPink from '../../common/colors.css';

.button {
  background-color: Pink;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
  outline: 0;
}

.button:hover {
  opacity: 0.8;
}
