@value makerLightPink, makerWhite from '../../common/colors.css';

.footer {
  width: 100%;
  text-align: center;
  background-color: makerLightPink;
}

.title {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  color: #ffffff;
}
